{%extends 'base.html'%}
{%block title%}Add Blog{%endblock%}
{%block content%}
    <section class="home">
        <div class="text">Write your own blog<p id="subtitle"><span style="font-size: large;">Speak Your Mind</span></p>
                    <form id="task-form" action="/add_blog" method="POST">
                        <div>
                            <input type="text" id="blog-name" name="blog_title" placeholder="Enter blog name" required>
                            <input type="text" id="blog-author" name="blog_subtitle" placeholder="Enter your name" required>
                            <textarea id="blog-content" rows="8" name="blog_content"
                                placeholder="Write your blog content" required></textarea>
                            <button type="submit" id="add-blog-button">Submit Blog</button>
                        </div>
                    </form>
        </div>
    </section>
{%endblock%}