{%extends 'base.html'%}
{%block title%}Speak Your Mind{%endblock%}
{%block content%}
    <section class="home">
        <div class="text">See what others have to say</div>
        <br>
        {% for blog in blogs %}
        <a href="/{{ blog.id }}" style="text-decoration: none;">
        <div class="blog-card">
            <div class="blog-card-content">
                <h2 class="title">{{ blog.blog_title }}</h2>
                <h4 class="subtitle">{{ blog.blog_subtitle }}</h4>
            </div>
        </div>
        <br>
        {% endfor %}
    </section>
{%endblock%}